@import '../../../style.scss';

.calculate-start-order {
  display: flex;

  &__section {
    @include section-with-lines;
  }

  &__progress {
    @media (min-width: $md) {
      width: 70%;
      margin-left: 1rem;
      padding: 1rem;
    }
  }
  
  &__title {
    margin-bottom: 1rem;
    color: $bblBlue;
    @include h3;
  }

  &__description {
    margin-bottom: 1rem;
    @include body;
  }

  @media (min-width: $md) {
    display: flex;
  }
}