asgiref==3.2.10
astroid==2.3.2
certifi==2020.6.20
chardet==3.0.4
dj-database-url==0.5.0
Django==3.1.1
django-computed-property==0.3.0
django-cors-headers==3.5.0
django-filter==2.4.0
django-heroku==0.3.1
djangorestframework==3.11.1
gunicorn==20.0.4
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
psycopg2-binary==2.8.6
PyJWT==1.7.1
pylint==2.4.3
python-dotenv==0.14.0
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
typed-ast==1.4.0
urllib3==1.25.10
whitenoise==5.2.0
wrapt==1.11.2
