@import "../../../style.scss";

.raw-time-comparison {
  &__title {
    margin-bottom: 1.5rem;
    @include h3;
  }

  &__description {
    margin-bottom: 1.5rem;
    @include body;
  }

  &__table-container {
    overflow-x: auto;
    margin: 1.5rem 0;
  }

  &__table {
    width: 100%;

    @include table;
  }

  td:has(> .raw-time-comparison__confidence--low) {
    background-color: $red-tint;
  }

  td:has(> .raw-time-comparison__confidence--high) {
    background-color: $green-tint;
  }

  td:has(> .raw-time-comparison__confidence--medium) {
    background-color: $amber-tint;
  }

  &__cell--id {
    @include animated-link;
  }

  &__title-section {
    @include laptop {
      @include grid(2);
    }
  }

  &__filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__stats {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;

    &--success {
      background-color: $green-mid;
    }

    &--fail {
      background-color: $red-mid;
    }
  }

  &__flag {
    @include body-small(bold);
  }

  &__controls,
  &__race-list {
    @include tablet {
      @include grid(2);
    }

    @include laptop {
      @include grid(4);
    }
  }

  &__race-info,
  &__race-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
