@import '../../../../style.scss';

.crew-time-edit {
  &__section {
    @include section;
  }

  &__container {
    @include container;
  }

  &__table-container {
    overflow-x: auto;
  }

  &__table {
    @include table;
  }

  &__form {
    @include form-wider;
  }

  &__penalty-band {
    @media screen and (min-width: $md) {
      @include grid(2);
    }
  }

  &__control-wrapper {
    @include grid(4);
    margin-bottom: 1.5rem;
  }

  &__checkbox-group {
    @media screen and (min-width: $md) {
      @include grid(4);
    }
  }

  &__time-inputs,
  &__box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__field,
  &__box {
    margin-bottom: 1.5rem;
  }

  &__group-title {
    color: $bblBlue;
    font-size: 1.2em;
  }
}