@import '../../../style.scss';

.crew-index {
  &__section {
    @include section;
  }

  &__container {
    @include container;
  }

  &__column-options {
    display: flex;
    flex-wrap: wrap;
  }
  
  &__table-container {
    overflow-x: auto;
  }

  &__table {
    @include table;
  }
}