@import '../../../style.scss';

.crew-start-by-number-location {
  &__section {
    @include section;
  }

  &__container {
    @include container;
  }

  &__table-container {
    overflow-x: auto;
  }

  &__table {
    margin-left: 0;
    max-width: 100%;
  }

  &__title {
    margin-bottom: 1rem;
    @include h2;
  }

  &__location-title {
    margin-bottom: 1rem;
    @include h4;
  }

}