@import "../../../style.scss";

.crew-start-by-number-location {
  &__section {
    @include section;
  }

  &__container {
    @include container;
  }

  &__table-container {
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    @include table;

    .scratched {
      text-decoration: line-through;
    }
  }

  &__title {
    margin-bottom: 1rem;
    @include h2;
  }

  &__location-title {
    margin-bottom: 1rem;
    @include h4;
  }

  &__field,
  &__block {
    margin-bottom: 1rem;
  }

  &__checkbox-cell {
    font-size: 20px;
  }
}
