@import '../../../style.scss';

.page-hero {
  background-color: $bblBlue;
  color: $white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  &__container {
    @include container;
  }

  h1 {
    color: $white;

    @include h1;
  }
}