@import "../../../style.scss";

.event-meeting-manager {
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &__header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    @include h2;
  }

  &__empty {
    padding: 1rem 0;
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  &__description {
    margin-bottom: 0.5rem;
  }

  &__table {
    @include table;
  }
}
