@import '../../../style.scss';

.crew-labels {
  color: $black;
  &__grid {
    gap: 0.2rem;
    @include grid(2);
  }

  &__label {
    // border: 1px solid $bblGrey;
    height: 206px;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  }

  &__start-order {
    @include h2($black);
  }

  &__crew-details,
  &__start-order {
    color: $black;
    margin-bottom: 0.5rem;
  }

  &__host {
    font-weight: $bold;
    @include h5;
  }
}

@media print {
  .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}