@import '../../../style.scss';

.race-times {
  &__section {
    @include section;
  }

  &__container {
    @include container;
  }

  &__table-container {
    overflow-x: auto;
  }

  &__table {
    margin-bottom: 1.5rem;
  }

  &__buttons {
    .text-button {
      margin-right: 0.5rem;
      @media (min-width: $lg) {
        display: inline-flex;
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }
  }

  &__tabs {
    display: flex;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid $phLogoBlue;
  }

  &__tab {
    display: block;
    padding: 1rem;
    background-color: $bblBlue;
    color: $white;
    @include body-small($bold);

    &:hover {
      background-color: $phLogoBlue;
      color: $bblBlue; 
    }


    &.active {
      background-color: $phLogoBlue;
      color: $bblBlue; 
    }
  }
}