@import '../../../style.scss';

.search-input {
  position: relative;
  border: 2px solid $bblGrey;
  border-radius: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;

  &:focus-within {
    border: 2px solid $bblBlue;
    background: $white;
    outline: 2px solid $phLogoBlue;
  }

  &__input {
    border: unset;
    outline: none;
    padding: 0.5rem 1rem;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    svg {
      fill: $bblGrey;
    }
  }

  .icon-button {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
  }
}