@import '../../../style.scss';

.menu-button {
  background-color: $phLogoBlue;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  color: $bblBlue;
  transition: all 0.2s ease-in;
  border-radius: 1.5rem;

  @include body-small(bold);

  &:hover {
    background-color: $bblBlue;
    color: $white;
  }

  &--active {
    background-color: $bblBlue;
    color: $white;
  }
}