@import '../../../style.scss';
.race-times-manager {
  &__form {
    margin-bottom: 1.5rem;
  }
  &__table {
    margin-left: 0; 
  }

  &__expand {
    height: 100%;
    width: 0.5rem;
    padding: 0.25rem 0;
    transition: transform 0.3s ease-in-out;

    svg {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &.open {
      display: block;
      transform: rotate(90deg);
    }
  }

  .td-center {
    text-align: center;

    input[type='radio'] {
      display: inline-block;
      margin-top: .25rem;
    }
  }

  .icon-button {
    display: inline-flex;
  }
}

