@import '../../../style.scss';
@import '../../../lib.scss';


.crew-manager {

  &__section {
    @include section;
  }

  &__container {
    @include container;
  }

  &__tabs {
    display: flex;
    margin: 1.5rem 0;
    border-bottom: 2px solid $phLogoBlue;
  }

  &__tab {
    display: block;
    border: 1px solid $bblGrey;
    border-bottom: unset;
    border-radius: 4px 4px 0 0;
    margin-right: 4px;
    button {
      color: $bblBlue;
      padding: 1rem;
      @include body-small($bold);
    }


    &:hover {
      background-color: $phLogoBlue;
      button {
        color: $bblBlue;
      }
    }


    &--active {
      background-color: $phLogoBlue;
      button {
        color: $bblBlue; 
      }
    }
  }

  &__tag {
    display:inline-block;
    background-color: $white;
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin-left: 0.5rem;
    color: $bblBlue;
    min-width: 2.8rem;
    text-align: center;
  }
}