@import "../../../style.scss";

.text-button {
  display: inline-flex;
  align-items: center;
  height: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in;
  border: 1px solid $bblBlue;
  background: $bblBlue;
  color: $white;
  text-align: center;
  @include body-small(bold);

  &:hover {
    background: none;
    color: $bblBlue;
  }

  &:focus-visible {
    border: 2px solid $bblBlue;
    background: $bblBlue;
    color: $white;
    outline: 2px solid $phLogoBlue;
  }

  &:disabled {
    opacity: 0.55;
    pointer-events: none;
  }

  &--loading {
    background: none;
    color: $bblBlue;
  }

  .icon__spinner {
    margin-left: 0.5rem;
  }

  @media screen and (min-width: $lg) {
    padding: 0.5rem 2rem;
  }
}
