@import "../../../style.scss";

.number-location-manager {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;

  &__table {
    @include table;
  }

  &__error {
    color: $red;
  }

  &__loading,
  &__error,
  &__empty {
    text-align: center;
    padding: 48px 24px;
    color: $darkGrey;
    font-size: 16px;
  }

  &__actions,
  &__import-wrapper {
    @media (min-width: $md) {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  &__import-wrapper {
    padding: 1.5rem 0;
  }

  @media (min-width: $md) {
    .form-input {
      width: 24rem;
    }
  }
}
