@import '../../../style.scss';

.header {

  @include container;

  &__logo {
    width: 130px;

    img {
      width: 100%;
      object-fit: cover;
    }

    &--mobile {
      @media screen and (min-width: $md) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @media screen and (min-width: $md) {
        display: block;
      }
    }

    @media screen and (min-width: $md) {
      width: 200px;
    }

    @media screen and (min-width: $lg) {
      width: 300px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}