@import "../../../style.scss";

.progress-message {
  &__container {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
  }

  &__icon {
    height: 1.5rem;
    margin-right: 0.5rem;
    width: 1.5rem;

    svg {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
