@import '../../../style.scss';

.nav-bar {
  display: flex;
  align-items: center;

  @include body;
  
  &__desktop {
    display: none;
    @media (min-width: $lg) {
      display: block;
    }
  }

  &__login {
    margin-left: 0.5rem;
    @include animated-link;

  }
}