@import '../../../style.scss';

.nav-bar {
  display: flex;
  align-items: center;

  @include body;
  
  &__desktop {
    display: none;
    @media (min-width: $lg) {
      display: block;
    }
  }

  &__login {
    margin-left: 0.5rem;
    color: $bblBlue;
    @include font-size(14);

    @media (min-width: $lg) {
      @include font-size(16);
    }
    
    &:hover {
      text-decoration: underline;
    }
  }

  .c-data-loader {
    margin-right: 0.5rem;
  }
}