@import '../../../style.scss';

.breadcrumbs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &__container {
    @include container;
  }

  &__divider {
    margin: 0 0.25rem;
    color: $darkGrey;
    @include body-small($bold);
  }

  a {
    color: $darkGrey;
    @include body-small($bold);
    
     &:hover {
      color: $phLogoBlue;
      text-decoration: underline;
     }
  }
}