@import "../../../style.scss";

.contact-detail-report {
  &__section {
    @include section;
  }

  &__container {
    @include container;
  }

  &__table-container {
    overflow-x: auto;
  }

  &__table {
    max-width: 100%;
    margin-left: 0;
    @include table;
  }

  &__title {
    margin-bottom: 1.5rem;
    @include h2;
  }
}
