@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import './lib.scss';
@import './base.scss';

$family-primary: 'Open Sans', sans-serif;
// colours
$bblBlue: #341499;
$phLogoBlue: #00B4FC;
$phLogoRiver: #1E099C;
$bblLogoBlu: #4169e1;
$bblGrey: lightgrey;
$darkGrey: #666666;
$white: #fff;
$screen-font-color: #222;
$black: #000;
$primary: $bblBlue;
$green: #00C950;
$green-tint: #EFFDF4;
$green-mid: #7AF2A8;
$red: #FA2C37;
$red-tint: #FEF2F2;
$red-mid: #FFA1A3;
$amber: #FF6900;
$amber-tint: #FEFBEA;
$amber-mid: #FFD230;
$blue-tint: #EEF6FF;
$grey-tint: #F9FAFB;

$standard-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

$border-radius-small: 0.25rem;
$border-radius-medium: 1rem;
$border-radius-large: 4rem;

$section-padding: 1.5rem 1.5rem;
$tabs-boxed-link-hover-background-color: $phLogoBlue;
$tabs-toggle-link-hover-background-color: $phLogoBlue;
$tabs-toggle-link-active-background-color: $phLogoBlue;
$size-1: 48px;
$size-2: 24px;
$size-3: 12px;
$navbar-item-color: $bblBlue;
$navbar-item-hover-background-color: $phLogoBlue;
$navbar-item-hover-color: white;
$navbar-height: 1 rem;


.sr-only {
  @include sr-only;
}

@media all {
	.page-break	{ display: none; }
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    .page-break	{ display: block; page-break-before: always; }

}
