@use "bulma/sass/base";
@use "bulma/sass/themes";
@use "bulma/sass/elements/button";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import './lib.scss';

$family-primary: 'Open Sans', sans-serif;
$bblBlue: #341499;
$phLogoBlue: #00B4FC;
$phLogoRiver: #1E099C;
$bblLogoBlu: #4169e1;
$bblGrey: lightgrey;
$darkGrey: #666666;
$white: #fff;
$black: #000;
$primary: $bblBlue;
$section-padding: 1.5rem 1.5rem;
// $tabs-link-hover-color: $phLogoBlue;
$tabs-boxed-link-hover-background-color: $phLogoBlue;
$tabs-toggle-link-hover-background-color: $phLogoBlue;
$tabs-toggle-link-active-background-color: $phLogoBlue;
$size-1: 48px;
$size-2: 24px;
$size-3: 12px;
$navbar-item-color: $bblBlue;
$navbar-item-hover-background-color: $phLogoBlue;
$navbar-item-hover-color: white;
$navbar-height: 1 rem;


.sr-only {
  @include sr-only;
}


.startTab.active, .finishTab.active {
  text-align: center;
  padding: 10px 30px;
  background-color: $phLogoBlue;
  border: 1px solid #dbdbdb;
}

body {
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

@media all {
	.page-break	{ display: none; }
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    .page-break	{ display: block; page-break-before: always; }

}

.padding {
  padding: 1em;
}

.column.left, div.list-totals {
  text-align: left;
}

div.list-totals {
  margin-bottom: 2px;
  padding-left: 9px;
}

.tabContainer {
  margin: 0 auto;
  width: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
}

.search {
  width: 400px;
  margin: 0 auto;
}

.navbar-item {
  margin-left: 10px;
}

.checkbox {
  margin-right: 8px;
}

.button {
  width: 200px;
}

.button:disabled {
  opacity: 0.5;
}

.double-height-button.button {
  height: 60px;
  white-space: normal;
}

.spinner {
  margin: 0 5px;
}

td, th, .control {
  font-size: 12px;
}

.icon-clickable {
  color: $bblBlue;
  margin-top: 5px;
  cursor: pointer;
}

.icon-disabled {
  color: $bblGrey;
  margin-top: 5px;
  cursor: pointer;
}

.accordion {
  margin-bottom: 15px;
}

.accordion-item {
  button {
    font-size: 18px;
  }
}

.control-full-width {
  width: 100%;
}

.file.is-right {
  justify-content: flex-start;
  margin-bottom: 15px;
}

.section-has-lines {
  border-top: 1px solid $bblBlue;
  padding: 15px 0;
}

.text-container {
  margin-bottom: 15px;
}
