@import '../../../style.scss';
@import '../../../lib.scss';

.results-comparison {

  &__title {
    @include h2;
  }

  &__description {
    @include body;
  }

  &__loading,
  &__error {
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
  }

  &__loading {
    background-color: $grey-tint;
    color: $bblGrey;
  }

  &__error {
    background-color: $red-tint;
    color: $red;
  }

  &__selectors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__comparison-group {
    @include form;
  }
}

.results-table {
  &__table {
    @include table;
  }
}