@import '../../../style.scss';

.menu {
  position: relative;

  &__container {
    display: flex;

    .menu__item:not(:last-child) {
      margin-right: 1rem;
    }

    &--mobile {
      @media (min-width: $lg) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @media (min-width: $lg) {
        display: flex;
      }
    }
  }

  &__child {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    right: 0;
    min-height: 200px;
    padding: 1rem;
    background-color: $white;
    border: 1px solid $bblGrey;

    &--hide {
      display: none;
    }

    &--show {
      display: block;
    }
  }
}



