@import '../../../style.scss';
  
.icon-success {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: $green-mid;
}