@import '../../../style';

.form-input {
  &__input {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 2px solid $bblGrey;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    transition: all 0.2s ease-in;

    &:focus-visible {
      border: 2px solid $bblBlue;
      background: $white;
      outline: 2px solid $phLogoBlue;

      .form-select__select {
        color: get-value(font-color);
      }

      .form-select__icon {
        svg > path {
          fill: get-value(icon-color);
        }
      }
    }
  }
}
