@import "../../../style.scss";

.event-key-header {
  span {
    @include body-small;
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $phLogoBlue;
    }
  }
}