@import "../../../style.scss";

.crew-draw-reports {
  &__section {
    @include section;
  }

  &__container {
    @include container;
  }

  &__report-intro {
    margin-bottom: 2rem;
  }

  &__title {
    margin-bottom: 1.5rem;
    @include h2;
  }

  &__subtitle {
    margin-bottom: 0.5rem;
    @include h4;
  }

  &__report-intro {
    p {
      margin-bottom: 0.5rem;
      @include body-small;
    }
  }

  &__list {
    margin-bottom: 0.5rem;
    list-style-position: inside;
  }

  &__table-container {
    overflow-x: auto;
  }

  &__table {
    max-width: 100%;
    margin-left: 0;

    @include table;
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    border-bottom: 2px solid $phLogoBlue;
  }

  &__tab {
    display: block;
    border: 1px solid $bblGrey;
    border-bottom: unset;
    border-radius: 4px 4px 0 0;
    margin-right: 4px;
    max-width: 120px;
    button {
      color: $bblBlue;
      padding: 0.3rem;
      @include body-small;
    }

    &:hover {
      background-color: $phLogoBlue;
      button {
        color: $bblBlue;
      }
    }

    &--active {
      background-color: $phLogoBlue;
      button {
        color: $bblBlue;
      }
    }
  }

  &__row-scratched {
    td {
      text-decoration: line-through;
    }
  }
}
